@model MVCProjektData.AlbumPhotoClass
@{
    ViewBag.Title = "Addphoto";
}
@using (Html.BeginForm())
{

    <h2>Test</h2>
    @Html.DropDownList("Id", Model.AlbumMod.Select(x => new SelectListItem { Text = x.AlbumName, Value = x.AlbumId.ToString()}))
}
    @foreach (var item in Model.PhotoMod)
    {
        <div>
            @*<img src="/Pictures/@photo.Name"/>*@
            @Model.Id <input type="checkbox" value="@Model.Id" name="photos[]"/>
        </div>
    }
<select name="albumId">
    @foreach (var album in Model.AlbumMod)
    {
        <option value="@album.AlbumId">@album.AlbumName</option>
    }
</select>
<input type="submit" value="Add To Album" class="btn btn-success"/>
<h2>Addphoto</h2>

