@model MVC_1.Models.AlbumModel

@{
    ViewBag.Title = "CreateAlbum";
}

<h2>CreateAlbum</h2>


    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AlbumModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AlbumName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "AlbumView")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
