@model IEnumerable<MVC_1.Models.AlbumModel>

@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken();

<h2>Album Maker</h2>
@{
//Gör en Länkt till CreateAlbum som då vidarbefodrar mig dit
    <p>@Html.ActionLink("Create Album", "CreateAlbum")</p>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x.AlbumName)</th>
        </tr>
    </table>

    //en foreach album i modellen så skriver den ut album name
    foreach (var alb in Model)
    {
        //Lägga allt i en table för att göra det lite snyggare/bättre.
        <table class="table">
        <tr>
            <td>
                @*Skriver ut albumName*@
               @Html.DisplayFor(x => alb.AlbumName)
            </td>
        </tr>

        <tr>
            @*Länkar till actionen "DeleteAlbum" osv *@
            @Html.ActionLink("Delete", "DeleteAlbum", new { AlbumID = alb.AlbumID }, null)
            
            @Html.ActionLink("Edit", "EditAlbum", new { AlbumID = alb.AlbumID }, null);
        </tr>
        </table>


    }

}


