@*Behövs för var view,  och gör så att den inte blir dynamisk och retunerar va den skall vara
    i detta fall en lista*@

@model MVC_1.Models.MyModel
@{
    ViewBag.Title = "Pictures";
}

@Html.AntiForgeryToken()

<h2>Pictures</h2>
@{
    //här gör vi en foreach loop som kallar på alla bilder vi har i listan

    foreach (var item in Model)
    {
        <img src="~/Pictures/@item" width="250" />
                <div class="caption">
                    <h2>@item.ID</h2>
                    <h2>@item.ID</h2>
                    @*Här gör vi en ActionLink som länkar dit vi vill*@
                    @Html.ActionLink("Show Image", "Pictures", "Pictures", new { PID = item.ID }, null)
                    @Html.ActionLink("Delete Image", "DeleteConfermation", "Pictures", new { PID = item.ID }, null)

                </div>

    }
}
@*<div class="jumbotron" style="height:600px;">
    <p>
        <a class="Imgbutton btn btn-primary" data-fancybox-type="iframe" href="@Url.Action("Uploadimage","Home")">Upload new image</a>
    </p>
    <div style="border-bottom:1px solid Red;"></div>
    <div class="row-fluid">
        <div class="span2">
            <div class="item">

                    <div style=" margin:10px; float:left; height:200px;
                         overflow:hidden; width:200px;">

                                <div class="zoom-icon"></div>
                            </div>

                    </div>

            </div>
        </div>
    </div>*@


