@*Behövs för var view,  och gör så att den inte blir dynamisk och retunerar va den skall vara
    i detta fall en lista*@

@model MVC_1.Models.MyModel 
@{
    ViewBag.Title = "Pictures";
}

<h2>Pictures</h2>
@{ 
//här gör vi en foreach loop som kallar på alla bilder vi har i listan
    foreach (var item in Model.Images)
    {
        @*<td>
            <img src="~/Pictures/81.jpg" />
            <img src="~/Pictures/ladda ned (1).jpg" />
            <img src="~/Pictures/ladda ned (2).jpg" />
            <img src="~/Pictures/ladda ned.jpg" />
            <img src="~/Pictures/potd_restricted_pig-large_trans++eo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg" />
        </td>*@
        <img src="~/Pictures/@item" width="250"/>
        <div class="caption">
            <h2>@Model.ID</h2>
            <h2>@Model.ImgName</h2>
            @Html.ActionLink("show picture", "Showimage", "Pictures", new { PID = Model.ID }, null)
            @Html.ActionLink("delete picture", "Deleteimage", "Pictures", new { PID = Model.ID }, null)
        </div>
    }
}
@*<div class="jumbotron" style="height:600px;">
    <p>
        <a class="Imgbutton btn btn-primary" data-fancybox-type="iframe" href="@Url.Action("Uploadimage","Home")">Upload new image</a>
    </p>
    <div style="border-bottom:1px solid Red;"></div>
    <div class="row-fluid">
        <div class="span2">
            <div class="item">
              
                    <div style=" margin:10px; float:left; height:200px;
                         overflow:hidden; width:200px;">
                         
                                <div class="zoom-icon"></div>
                            </div>
                        
                    </div>
                
            </div>
        </div>
    </div>*@


